:root {
  --main-color: #f5f5f5;
  --secondary-color: #212121;
  --btn-color: #2196f3;
  --btn-background: #F5F4FA;
  --btn-active-color: #ffffff;
  --header-color: #FFFFFF;
  --paragraph-color: #757575;
  --footer-color: #2F303A;
  --adress-color: rgba(255, 255, 255, 0.6);
  --border-color: #ECECEC;
  --border-skill: #EEEEEE;
  --icon-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --page-fonts: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  text-decoration: none;
  font-family: var(--page-fonts);
  background-color: var(--header-color);
  color: var(--secondary-color);
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.header {
  background-color: var(--header-color);
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
  height: 60px;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-right: 15px;
    background-color: var(--header-color);
    color: var(--secondary-color);
    text-decoration: none;
    margin: auto;
    border-bottom: 1px solid var(--border-color);
    height: 80px;
  }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}
.logo-web {
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--btn-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo-web {
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: var(--btn-color);
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: -webkit-transform 250ms var(--timing-function);
    transition: -webkit-transform 250ms var(--timing-function);
    transition: transform 250ms var(--timing-function);
    transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  }
}
@media screen and (min-width: 1200px) {
  .logo-web:hover,
.logo-web:focus {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

.studio {
  color: var(--secondary-color);
}

.studio--footer {
  color: var(--btn-active-color);
}

.site-info a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-info {
  display: none;
}
@media screen and (min-width: 1200px) {
  .site-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts a:hover,
.contacts a:focus {
    color: var(--btn-color);
  }
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background: var(--footer-color);
  padding: 118px 0;
  text-align: center;
  background-image: url(../images/Img\ Overlay.svg), url("../../img/Header img mob x1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--btn-active-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background: var(--footer-color);
    padding: 200px 0;
    text-align: center;
    background-image: url(../images/Img\ Overlay.svg), url(../images/Img-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-title {
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--btn-active-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .work-place-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.servise {
  display: none;
}

@media screen and (min-width: 1200px) {
  .servise {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
    padding-top: 94px;
    margin: 0 auto;
  }
}
.list-title h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .list-title h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: start;
  }
}
.list-title p {
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 1200px) {
  .list-title p {
    color: var(--paragraph-color);
    font-size: 14px;
    line-height: 1.71;
  }
}
.list-title {
  padding-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .list-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.antenna::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-background);
  background-image: url(../images/antenna\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .antenna::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--btn-background);
    background-image: url(../images/antenna\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.clock::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-background);
  background-image: url(../images/clock\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .clock::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--btn-background);
    background-image: url(../images/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.diagram::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-background);
  background-image: url(../images/diagram\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .diagram::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--btn-background);
    background-image: url(../images/diagram\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.astronaut::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--btn-background);
  background-image: url(../images/astronaut\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .astronaut::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--btn-background);
    background-image: url(../images/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.visual-list {
  height: 226px;
  width: 450px;
  gap: 10px;
}

@media screen and (min-width: 1200px) {
  .visual-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 270px;
    gap: 10px;
  }
}
.visual-list:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .visual-list:not(:first-child) {
    margin-left: 30px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .work-place-img li:not(:first-child) {
    margin-left: 30px;
  }
}
.list-team h3 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.list-team p {
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.list-team {
  display: block;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .list-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .team:not(:first-child) {
    margin-left: 30px;
  }
}

.section-team {
  margin: auto;
  background-color: var(--btn-background);
}

.title-img {
  margin-bottom: 30px;
  padding-top: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .title-img {
    margin-bottom: 50px;
    padding-top: 0;
    font-size: 36px;
    line-height: 1.16;
  }
}
.team {
  text-align: center;
  background: var(--btn-active-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team {
    margin-bottom: 0;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .social {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

.social-link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 500ms var(--timing-function);
  transition: -webkit-transform 500ms var(--timing-function);
  transition: transform 500ms var(--timing-function);
  transition: transform 500ms var(--timing-function), -webkit-transform 500ms var(--timing-function);
}

.social-link a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link:not(:first-child) {
  margin-left: 10px;
}

.link-icon {
  width: 20px;
  fill: var(--icon-color);
}

.social-icon:hover svg,
.social-link:focus {
  background-color: var(--btn-color);
  fill: var(--btn-active-color);
  cursor: pointer;
}

.social-link:hover,
.social-icon:focus {
  background-color: var(--btn-color);
  fill: var(--btn-active-color);
  cursor: pointer;
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.regular h2 {
  padding-bottom: 50px;
  padding-top: 60px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .regular h2 {
    padding-top: 0;
    font-size: 36px;
    line-height: 1.17;
  }
}

.regular-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .regular-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.box {
  width: 210px;
  height: 92px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .box {
    width: 170px;
    margin-bottom: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 500ms var(--timing-function);
    transition: -webkit-transform 500ms var(--timing-function);
    transition: transform 500ms var(--timing-function);
    transition: transform 500ms var(--timing-function), -webkit-transform 500ms var(--timing-function);
  }
}

.box a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .box:not(:first-child) {
    margin-left: 30px;
  }
}

.link-box {
  height: 60px;
  width: 106px;
  fill: currentColor;
  fill: var(--icon-color);
}

.box-hover:hover svg,
.box-hover:focus {
  cursor: pointer;
  border-color: var(--btn-color);
  fill: var(--btn-color);
}
@media screen and (min-width: 1200px) {
  .box-hover:hover svg,
.box-hover:focus {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.box-hover:hover,
.box-hover:focus {
  cursor: pointer;
  border-color: var(--btn-color);
  fill: var(--btn-color);
}
@media screen and (min-width: 1200px) {
  .box-hover:hover,
.box-hover:focus {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

.hero .btn {
  background-color: var(--btn-color);
  color: var(--btn-active-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
}

@media screen and (min-width: 1200px) {
  .hero .btn {
    background-color: var(--btn-color);
    color: var(--btn-active-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    border: none;
  }
}
.footer-info {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}

.logo-web-footer {
  color: var(--btn-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.color-info {
  font-weight: 400px;
}

.color-info a {
  color: var(--btn-active-color);
  font-style: normal;
  text-decoration: none;
}

.color-info a:hover,
.color-info a:focus {
  color: var(--btn-active-color);
}

.color-info a:active {
  color: var(--btn-color);
}

.info-visible a {
  color: var(--adress-color);
}

.info-visible:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80px;
  width: 206px;
  margin-left: 70px;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-link p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  color: var(--btn-active-color);
  margin-bottom: 20px;
}

.list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.page-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon {
  fill: var(--btn-active-color);
  width: 20px;
  height: 20px;
}

.list-footer a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-hover {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 500ms var(--timing-function);
  transition: -webkit-transform 500ms var(--timing-function);
  transition: transform 500ms var(--timing-function);
  transition: transform 500ms var(--timing-function), -webkit-transform 500ms var(--timing-function);
}

.page-hover:hover,
.page-hover:focus {
  background-color: var(--btn-color);
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer-input {
  margin-left: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer-input .btn {
  width: 200px;
  height: 50px;
  background: var(--btn-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-active-color);
  padding-left: 28px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: transform(360deg) 250ms var(--timing-function), transform(360deg) 250ms var(--timing-function);
  transition: transform(360deg) 250ms var(--timing-function), transform(360deg) 250ms var(--timing-function);
  transition: transform(360deg) 250ms var(--timing-function);
}
.footer-input .btn svg {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.submit-icon {
  margin-left: 10px;
}

.email-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--btn-active-color);
  margin-bottom: 20px;
}

.footer-input .btn:focus svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.foot-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.input-size {
  width: 358px;
  height: 50px;
  outline: none;
  background-color: var(--footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--border-skill);
  padding: 15px 16px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}/*# sourceMappingURL=main.css.map */